<!DOCTYPE html>
<html lang="en" dir="ltr" class="is-authenticated is-not-pro  theme-dark">

<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<script nonce="JY7YEuvF21sPXFe6RLC66w==">window.initData = {};</script>
	<title>
		<%= Title %> — TradingView News
	</title>
	<!-- render_css_bundle('big_footer') -->
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/39759.a5e5a0ec9e600ccc8a22.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/52186.a1a91e4e3b8d4d56af6a.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/84712.48a1ae790be99d370f1a.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/11069.47392c7e9ba75f0d8646.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/65161.b37eaf239cea1a4a4b98.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/10299.d982930faa25ed8f82f1.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/70232.f1db42b7b1545ca43c36.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/53271.906b5d47d47e4a2fad7b.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/44396.cee484986125554f3417.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/61722.24c35306d42e7edb4ff9.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/44668.508d654834f0d41098de.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/18519.2a250f3381542eb91631.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/9258.f73f325953a3b59b4eb0.css" rel="stylesheet"
		type="text/css" />
	<!-- { block personal_css_bundle } -->
	<!-- render_css_bundle('base') -->
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/15371.64dbec946ca96256b0ea.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/46195.5d0098bab0d2d4ea02e5.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/61681.4fd36ce21282490a58e5.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/63039.dcb0a09f3223ced196a1.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/6612.fe956dccdf4f9a072b14.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/19190.2bf8dc938d4b644b2e5c.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/61171.7cc8161b2d954c2c14ab.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/38752.e464d157e791b8dd3734.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/98681.545aa1b123cab8d6dbef.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/98158.8fec0cf8c8110f9a7084.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/24973.72bcebc2807ffdf6acf0.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/84030.2a0b835c9459f5e8f334.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/3016.a33c76f5549cc7102e61.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/3579.d4ce023e54009adf69b3.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/98089.56b09b859736ef6f9859.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/44883.585fac974704d1d85ab0.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/67096.117d296d28803b3288ce.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/46754.184877a3be8aaa4a0b70.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/61173.e588027388bb6209599e.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/3062.a1f9139d4278adfbaec2.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/90714.e3ac88719b7a6306e129.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/61987.79f453c5ed1448b28811.css" rel="stylesheet"
		type="text/css" />
	<!-- { endblock personal_css_bundle } -->

	<!-- { block extra_styles } -->
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/92537.c3e3ac0d52ec0b50ef58.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/39759.a5e5a0ec9e600ccc8a22.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/98933.ee37a57778df3ab64ab7.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/84712.48a1ae790be99d370f1a.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/90579.89b41c884d5213432809.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/65161.b37eaf239cea1a4a4b98.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/67691.dd2214a8e3fa83eccb2f.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/40887.253786c5d5e52568726d.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/34002.bb7416e25ce047652be6.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/9123.005deab1142faaf7462d.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/93240.a2b02fc165a1c32d442e.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/71803.d98a88ad107fbf95a526.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/19715.96eccd93460627b4c6b5.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/28185.91ede51f82d787ada0b3.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/14100.fa043cf9d22075746ca7.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/78257.e8ddd6cb06822949cc64.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/45868.08f0e588e435e9b33a28.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/26383.3052225a0e744f01a57d.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/40984.f8fd2683876492fac869.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/27290.e81ee1bd8318d9d79bc5.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/22244.7151054646b6d222b944.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/98559.a89d3d49f869720ebbba.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/42486.84d89360ede6a350ded3.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/59878.0b47dc964ab4f746a82f.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/72104.6303cb3c32f3acc14a96.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/99796.3cd787e14fc815ad4e4c.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/96908.c560b3a464806a369c39.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/34709.f6c8c89f3828f3dfb008.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/33276.f882dcc5eaf794d8de14.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/80226.27f96fa7a5092dc70c68.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/23399.60d8bed0181e6db04360.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/4306.df21036349ff6a43f4c9.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/46213.871d538d9dbfbfe5cb2a.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/99943.c6ab309ce3dfa05e3efd.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/67272.b23e4c5180f46820b95c.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/28464.44a88e459054987884a2.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/85160.00e207008c02a72a964c.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/38156.fd9bc02342979c1d487e.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/95922.473479c1ab0e04db6eb5.css" rel="stylesheet"
		type="text/css" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/65445.8d36ee2d9f0f254e3e1a.css" rel="stylesheet"
		type="text/css" />
	<!-- { endblock extra_styles } -->
	<script nonce="JY7YEuvF21sPXFe6RLC66w==">
		window.locale = 'en';
		window.language = 'en';
	</script>
	<!-- render_js_bundle('big_footer') -->
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/en.75392.8a0ce442b2649e1e8dda.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/24578.534f33d063d6795fa3ec.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/97032.37e426b8f16e1e892358.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/big_footer.bb3476ef66d39864fdbf.js" rel="preload"
		as="script" />
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/en.75392.8a0ce442b2649e1e8dda.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/24578.534f33d063d6795fa3ec.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/97032.37e426b8f16e1e892358.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/big_footer.bb3476ef66d39864fdbf.js" defer></script>
	<!-- { block personal_js_bundle } -->
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/runtime.fa85369cc959688d8e78.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/en.54413.a2f6659a9dcb466101bf.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/32227.d826c45d2d27f2ff4314.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/47793.23256724b0d5e48131ae.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/15598.37a40c1dcec8f2a31c5b.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/23974.5328a451eaece1c1834d.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/4513.c1d7446e45aa0d87908f.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/57397.5d883ea1c4bafbb2570e.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/54181.6b964f91cf415fc7fc01.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/16131.85c4904a5c5c112b1418.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/27589.f8e4d5c9b661a09174f6.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/55161.07ba8909171dd065a18c.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/46631.cce0d7073e237de3fcce.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/3175.5af98461c9f7b489fa21.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/73642.9a04ecc44c53bbc498cb.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/12403.a62e1ff61847043ce692.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/42819.8362141c7e06ccf788d1.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/69817.29f2af35efffa589c4e8.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/85015.1ca5e8d744f00d1370d7.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/base.7ad034adf3d63da88302.js" rel="preload"
		as="script" />
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/runtime.fa85369cc959688d8e78.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/en.54413.a2f6659a9dcb466101bf.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/32227.d826c45d2d27f2ff4314.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/47793.23256724b0d5e48131ae.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/15598.37a40c1dcec8f2a31c5b.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/23974.5328a451eaece1c1834d.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/4513.c1d7446e45aa0d87908f.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/57397.5d883ea1c4bafbb2570e.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/54181.6b964f91cf415fc7fc01.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/16131.85c4904a5c5c112b1418.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/27589.f8e4d5c9b661a09174f6.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/55161.07ba8909171dd065a18c.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/46631.cce0d7073e237de3fcce.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/3175.5af98461c9f7b489fa21.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/73642.9a04ecc44c53bbc498cb.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/12403.a62e1ff61847043ce692.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/42819.8362141c7e06ccf788d1.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/69817.29f2af35efffa589c4e8.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/85015.1ca5e8d744f00d1370d7.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/base.7ad034adf3d63da88302.js" defer></script>
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/en.92559.f954a1a8ef74701110fa.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/60337.11b4ae8b03982edfb264.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/64848.9ebaf145a79a61952aad.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/53138.6c9992e888b392ea8dec.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/37009.8dadc529412551d8a2a1.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/94452.edea865b9aed1e0d52b4.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/48165.712eef3b9fb9d5874b50.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/16959.8a85af63e3374fa37fd0.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/61616.ca035811d657b21e7860.js" rel="preload"
		as="script" />
	<link crossorigin="anonymous"
		href="https://static.tradingref.com/static/bundles/story.7bc2e48eb5ea3ee8f5c3.js" rel="preload"
		as="script" />
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/en.92559.f954a1a8ef74701110fa.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/60337.11b4ae8b03982edfb264.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/64848.9ebaf145a79a61952aad.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/53138.6c9992e888b392ea8dec.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/37009.8dadc529412551d8a2a1.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/94452.edea865b9aed1e0d52b4.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/48165.712eef3b9fb9d5874b50.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/16959.8a85af63e3374fa37fd0.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/61616.ca035811d657b21e7860.js" defer></script>
	<script crossorigin="anonymous"
		src="https://static.tradingref.com/static/bundles/story.7bc2e48eb5ea3ee8f5c3.js" defer></script>
	<!-- { endblock personal_js_bundle } -->

	<!-- { block additional_js_bundle } -->
	<!-- { endblock additional_js_bundle } -->
	<script nonce="JY7YEuvF21sPXFe6RLC66w==">
		window.initData = window.initData || {};
		window.initData.theme = "light";
		(() => { "use strict"; const t = /(?:^|;)\s*theme=(dark|light)(?:;|$)|$/.exec(document.cookie)[1]; t && (document.documentElement.classList.toggle("theme-dark", "dark" === t), document.documentElement.classList.toggle("theme-light", "light" === t), window.initData = window.initData || {}, window.initData.theme = t) })();
	</script>
	<script nonce="JY7YEuvF21sPXFe6RLC66w==">
		(() => { "use strict"; "undefined" != typeof window && "undefined" != typeof navigator && /mac/i.test(navigator.platform) && document.documentElement.classList.add("mac_os_system") })();
	</script>

	<script nonce="JY7YEuvF21sPXFe6RLC66w==">var environment = "battle";
		window.WEBSOCKET_HOST = "0";
	</script>

	<script nonce="JY7YEuvF21sPXFe6RLC66w==">
		(() => {
			"use strict"; class r {
				setLogger() { } setTelemetry() { } onReconnect() { }
			} window.WSBackendConnection = new r()
		})();
	</script>

	<script nonce="JY7YEuvF21sPXFe6RLC66w==">
		if (window && window.history && window.history.scrollRestoration) {
			window.history.scrollRestoration = 'manual';
		}
	</script>

	<script
		nonce="JY7YEuvF21sPXFe6RLC66w==">var is_authenticated = true;
			var user = {};
			window.initData.settings = { 'S3_LOGO_SERVICE_BASE_URL': 'https://s3-symbol-logo.tradingview.com/', 'S3_NEWS_IMAGE_SERVICE_BASE_URL': 'https://s3.tradingview.com/news/', 'WEBPACK_STATIC_PATH': 'https://static.tradingview.com/static/bundles/', 'TRADING_URL': 'https://papertrading.tradingview.com', 'TRADING_COMPETITION_ID': 'THE_LEAP_PEPPERSTONE' };</script>


	<script nonce="JY7YEuvF21sPXFe6RLC66w==">window.PUSHSTREAM_URL = ""</script>
	<meta name="description" content="<%= description %>" />


	<link rel="canonical" href="https://www.tradingview.com<%= canonical %>" />

	<link rel="icon" href="https://static.tradingref.com/static/images/favicon.ico">
	<meta name="application-name" content="TradingView" />

	<meta name="format-detection" content="telephone=no" />

	<link rel="manifest" href="https://static.tradingref.com/static/images/favicon/manifest.json" />

	<meta name="theme-color" media="(prefers-color-scheme: light)" content="#F9F9F9">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#262626">
	<meta name="apple-mobile-web-app-title" content="TradingView Site" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-icon" sizes="180x180"
		href="https://static.tradingref.com/static/images/favicon/apple-touch-icon-180x180.png" />
	<link rel="link-locale" data-locale="en" href="https://www.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="in" href="https://in.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="de_DE" href="https://de.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="fr" href="https://fr.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="es" href="https://es.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="it" href="https://it.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="pl" href="https://pl.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="tr" href="https://tr.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="ru" href="https://ru.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="br" href="https://br.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="id" href="https://id.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="ms_MY" href="https://my.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="th_TH" href="https://th.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="vi_VN" href="https://vn.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="ja" href="https://jp.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="kr" href="https://kr.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="zh_CN" href="https://cn.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="zh_TW" href="https://tw.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="ar_AE" href="https://ar.tradingview.com<%= canonical %>">
	<link rel="link-locale" data-locale="he_IL" href="https://il.tradingview.com<%= canonical %>">
	<meta property="al:ios:app_store_id" content="1205990992" />
	<meta property="al:ios:app_name" content="TradingView - trading community, charts and quotes" />

	<script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "<%= id %>"
  },
  "headline": "<%= Title %>",
  "isAccessibleForFree": false,
  "hasPart": {
    "@type": "WebPageElement",
    "isAccessibleForFree": false,
    "cssSelector": ".paywall"
  },
  "datePublished": "2025-04-11T14:37:35+00:00",
  "publisher": {
    "@type": "Organization",
    "name": "<%= provider %>"
  },
  "image": null,
  "timeRequired": "PT1M10S"
}</script>
	<script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "https://www.tradingview.com/news/",
        "name": "News"
      }
    },
    {
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "https://www.tradingview.com/news/providers/<%= provider_id %>",
        "name": "<%= provider %>"
      }
    },
    {
      "@type": "ListItem",
      "position": 3,
      "item": {
        "@id": "https://www.tradingview.com<%= canonical %>",
        "name": "REG - India CapitalGrwthFd - Net Asset Value Daily Estimate"
      }
    }
  ]
}</script>




	<meta property="og:site_name" content="TradingView" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="<%= Title %>" />
	<meta property="og:description" content="<%= description %>" />
	<meta property="og:url" content="https://www.tradingview.com<%= canonical %>" />
	<meta property="og:image" content="https://s.tradingview.com/static/images/illustrations/news-story.jpg" />
	<meta property="og:image:height" content="630" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:secure_url"
		content="https://static.tradingref.com/static/images/logo-preview.png" />



	<meta name="twitter:site" content="@TradingView" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="<%= Title %>" />
	<meta name="twitter:description" content="<%= description %>" />
	<meta name="twitter:url" content="https://www.tradingview.com<%= canonical %>" />
	<meta name="twitter:image" content="https://s.tradingview.com/static/images/illustrations/news-story.jpg" />
</head>


<body class="">
	<div class="tv-main">
		<div class="tv-content" id="tv-content" aria-label="Main content" tabindex="-1">
			<div class="js-news-story-container" data-props-id="pYw0ng">
			</div>
			<script
				type="application/prs.init-data+json">{"pYw0ng":{"story":<%- main_data %>,"isAuthenticated":true,"url":"https://www.tradingview.com<%= canonical %>","language":"en","canShowProviderBreadcrumb":true,"splitStoryLayout":true,"providerNewsWidget":false,"noAccessToArticle":false}}</script>
		</div> <!-- render_css_bundle('tv_footer') -->
		<link crossorigin="anonymous"
			href="https://static.tradingref.com/static/bundles/8049.8b7fbb3bf9b16bd1a7a7.css" rel="stylesheet"
			type="text/css" />
		<link crossorigin="anonymous"
			href="https://static.tradingref.com/static/bundles/83034.c700342f1d049d17c874.css" rel="stylesheet"
			type="text/css" />
	</div>
	<script>
		if (window.top === window.self) {
			// The content is loaded outside of an iframe
			document.body.innerHTML = '<h1>This content is only accessible inside an iframe.</h1>';
			// Optionally, you can redirect or close the page
			window.location.href = 'about:blank'; // Redirect to a blank page
			// Or you could even close the window
			// window.close();
		} else {
			// The content is loaded inside an iframe
			console.log('Content is inside an iframe.');
		}

	</script>
</body>

</html>